<h1><%= @wiki.title %></h1>
<p><%= @wiki.body %></p>
 <h1><%= markdown_to_html(@wiki.title) %></h1>
    
    
    <%= 'Collaborators? '%> <%= has_collaborators %>
    <p><%= markdown_to_html(@wiki.body) %></p>
    <hr>
    <div>
      <% if policy(@wiki).edit? %>
        <%= link_to 'Edit Wiki', edit_wiki_path(@wiki.id), class: 'btn btn-success' %>
      <% end%>
      <% if policy(@wiki).edit? %>
          <%= link_to 'Add Collaborators', edit_wiki_path(@wiki), class: 'btn btn-success' %>
      <% end%>
    </div>
    <div>
      <% if policy(@wiki).destroy? %>
        <%= link_to 'Delete Wiki', @wiki, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete your Wiki'} %>
      <% end %>
    </div>
  </div>